

<div class="container">
  <h1>Helló</h1>
  <p>
    {{ title }}
  </p>
  <p>
    {{ name }}
  </p>

    <ul>
      <li>{{ employee.name }}</li>
      <li>{{ employee.city }}</li>
      <li>{{ employee.salary }}</li>
    </ul>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Név</th>
          <th>Település</th>
          <th>Fizetés</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let emp of employees'>
          <td>{{ emp.name }}</td>
          <td>{{ emp.city }}</td>
          <td>{{ emp.salary }}</td>
        </tr>
      </tbody>
    </table>

</div>

